/* common shared style */
* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    background: #FD6E0A;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 25px;
}

/* header related styles */
.header {
    background-color: #FFF8F3;
}

/* nav related styles */
nav {
    /* this will bring elements to the same line */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav li {
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.banner {
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}

#profile-pic {
    width: 500px;
}